## Voron Design VORON2 350mm 

[include mainsail.cfg]                 ; Defines pause/resume/cancel routines, used in UI and KlipperScreen (@see _CLIENT_VARIABLE)
[include KAMP_Settings.cfg]            ; See https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging

# Configuration parts

[include body/motors.cfg]              ; XY and Z motors configuration
[include body/homing.cfg]              ; Overrides homing routines, used for sensorless homing
[include body/lights.cfg]              ; Defines leds and status commands (defines macros like _LED_STATUS_XXX)
[include body/thermistors.cfg]         ; extra configutation for specific thermistos used

# Quality of life

[include features/print_macros.cfg]    ; PRINT_START and PRINT_END macros
[include features/heatsoak.cfg]        ; cancellable soaking routine
[include features/speed.cfg]           ; big macro for testing speed irl

# Heads

[include tools/toolchanger.cfg]        ; Required by klipper-toolchanger plugin
[include tools/macros.cfg]             ; Temperature macros to use per tool
[include tools/calibrate_offsets.cfg]  ; Tool calibration routines 

[include tools/t0_sb_uhf.cfg]
[include tools/t1_db_yellow.cfg]


#####################################################################
#   Devices configuration
#####################################################################


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_240019000550565843333620-if00
restart_method: command


[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 7000             # Max 6000 according to input shaper, but feeling lucky ¯\_(ツ)_/¯
max_z_velocity: 50          # Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0


[input_shaper]
shaper_type_x: zv
shaper_freq_x: 47
shaper_type_y: zv    
shaper_freq_y: 40


#####################################################################
#   Klipper settings
#####################################################################

[idle_timeout]
timeout: 1800
gcode:
    _LED_STATUS_IDLE
    M117 Going idle
    M84
    TURN_OFF_HEATERS
    SET_FAN_SPEED FAN=nevermore SPEED=0
    SET_FAN_SPEED FAN=exhaust SPEED=0


[exclude_object]


[gcode_arcs]
resolution: 0.1


[respond]
# what should be called for M118 command
# default_type: echo
default_prefix: tgnotify


[force_move]
enable_force_move: True

  
[gcode_macro M117]
description: Overrides original M177 that displays status to also log it in the console (M118 is for telegram)
rename_existing: M117.1
gcode:
    M117.1 {rawparams}                  ; sets status as original command
    {action_respond_info(rawparams)}    ; prints same message to console


#####################################################################
#   Bed Configuration
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF3
max_power: 0.6 ; percentage, docs say rule of thumb is 0.4 watts / cm^2
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[quad_gantry_level]
gantry_corners:
    -60,-40
    410,390
points:
    50,50
    50,280
    300,280
    300,50
speed: 300
retries: 10
max_adjust: 10
retry_tolerance: 0.0075
horizontal_move_z: 10


[bed_mesh]
mesh_min: 25, 25
mesh_max: 325,305
speed: 300
horizontal_move_z: 10
fade_start: 0.6
fade_end: 10.0
probe_count: 7,7 ; Values should be odd, so one point is directly at bed center
algorithm: bicubic


#####################################################################
#   Sensors and fans
#####################################################################


[temperature_fan pi_temp]
pin: PD15
sensor_type: temperature_host
min_temp: 0.0
max_temp: 85.0
target_temp: 60.0
control: watermark
max_speed: 0.6
min_speed: 0.2


[fan_generic exhaust]
## Back panel exhaust - FAN4 on Octopus
pin: PD13


[fan_generic nevermore]
## The Filter - HE0 on Octopus, PA2
pin: PA2


[temperature_fan mcu_temp]
pin: PD12
sensor_type: temperature_mcu
min_temp: 0
max_temp: 85
target_temp: 60.0
control: watermark
max_speed: 0.6
min_speed: 0.2


[temperature_sensor chamber]
## Thermistor from Ender 3v2 hotend
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF4
min_temp: 0
max_temp: 100


#####################################################################
#   Macros
#####################################################################


[gcode_macro FORCE_GANTRY_UP]
description: Forcibly move gantry up and then release motors
gcode:
  SET_KINEMATIC_POSITION Z=0
  G0 Z10 F500
  M84 # disable motors afterwards


[gcode_macro _bot_data]
variable_lapse_video_size: 0
variable_lapse_filename: 'None'
variable_lapse_path: 'None'
gcode:
    M117 Setting bot lapse variables

    
[gcode_macro _CLIENT_VARIABLE]
; configures variables needed in mainsail.cfg
variable_use_custom_pos   : False # use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 175   # custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 300   # custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 30    # custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   # the value to retract while PAUSE
variable_cancel_retract   : 5.0   # the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  # retract speed in mm/s
variable_unretract        : 1.0   # the value to unretract while RESUME
variable_speed_unretract  : 35.0  # unretract speed in mm/s
variable_speed_hop        : 15.0  # z move speed in mm/s
variable_speed_move       : 100.0 # move speed in mm/s
variable_park_at_cancel   : True  # allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 175   # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 70    # different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract  : False ; use fw_retraction instead of the manual version [True/False]
gcode:
  M117 This does nothing but store variables

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 44.233
#*# pid_ki = 2.359
#*# pid_kd = 207.344
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.043750, 0.032500, -0.010000, -0.002500, -0.040000
#*# 	-0.060000, 0.028750, -0.041250, 0.026250, -0.050000
#*# 	-0.050000, 0.025000, 0.018750, 0.021250, -0.047500
#*# 	-0.015000, 0.020000, -0.010000, -0.007500, -0.055000
#*# 	-0.015000, 0.063750, 0.023750, 0.026250, -0.010000
#*# 	-0.007500, 0.053750, 0.030000, 0.032500, -0.012500
#*# x_count = 5
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 92.66
#*# max_x = 266.06
#*# min_y = 75.61
#*# max_y = 284.56
