[tools_calibrate]
pin: PG15          # rightmost (and lowest) connector on Octopus
spread: 5          # mms to travel sideways for XY probing

travel_speed: 10   
lower_z: 0.7       # mms to travel down from top for XY probing ('lower_z' is the distance below the probe tip in Z, used to ensure a hit. (from Nudge readme))
speed: 2           # The speed (in mm/sec) to move tools down onto the probe
lift_speed: 4      # The speed (in mm/sec) to retract between probes
final_lift_z: 15   # Z Lift after probing done, should be greater than any Z variance between tools
sample_retract_dist: 2
samples_tolerance: 0.05
samples: 5
samples_result: median # median, average
# Settings for nozzle probe calibration - optional.

# This can be used only with microswitch probe, not with Nudge
probe: probe       # name of the nozzle probe to use
trigger_to_bottom_z: 0.25 # Offset from probe trigger to vertical motion bottoms out. 
# decrease if the nozzle is too high, increase if too low.

[filament_switch_sensor nudge]
switch_pin: PG15 ; internal
pause_on_runout: false
runout_gcode: M117 Nudge triggered

[gcode_macro NUDGE_MOVE_OVER_PROBE]
gcode:
  G0 Z5
  # Put your specific values here!
  # Update them too, after the first run.
  G0 F9000 X272.687
  G0 F9000 Y-14.390

[gcode_macro NUDGE_FIND_PROBE_OFFSET]
gcode:
  NUDGE_MOVE_OVER_PROBE
  TOOL_LOCATE_SENSOR

[gcode_macro NUDGE_FIND_TOOL_OFFSET]
gcode:
  NUDGE_MOVE_OVER_PROBE
  TOOL_CALIBRATE_TOOL_OFFSET

[gcode_macro NUDGE_FIND_ALL_OFFSETS]
gcode:
    T0
    M109 T0 S150  # Heat up as much as possible without oozing to account for any thermal deformations
    NUDGE_FIND_PROBE_OFFSET
    M104 T0 S0
    # Match your number of tools ([1, 2, 3] for a 4-head toolchanger.)
    {% for tool in [1, 2] %}
        T{tool}
        M109 T{tool} S150
        NUDGE_FIND_TOOL_OFFSET
        M104 T{tool} S0
    {% endfor %}

######################### LEGACY, NOT NUDGE #########################

[gcode_macro CALIBRATE_MOVE_OVER_PROBE]
gcode:
  BED_MESH_CLEAR
  G0 Z0 F10000               # UPDATE THIS WITH YOUR POSITION
  G0 X272.44 Y-11.50 F10000  # UPDATE THIS WITH YOUR POSITION

[gcode_macro CALIBRATE_TOOL_OFFSETS]
gcode:
  T0
  CALIBRATE_MOVE_OVER_PROBE
  M109 S150            # Heat up as much as possible without oozing to account for any thermal deformations
  TOOL_LOCATE_SENSOR
  M104 S0
  # Other tools
  {% for tool in [1,2,3] %}
    T{tool}
    M109 S150
    TOOL_CALIBRATE_TOOL_OFFSET
    M104 S0
  {% endfor %}

[gcode_macro CALIBRATE_NOZZLE_PROBE_OFFSET]
gcode:    
    CALIBRATE_MOVE_OVER_PROBE
    M109 S150    
    TOOL_LOCATE_SENSOR
    TOOL_CALIBRATE_PROBE_OFFSET
    M104 S0